DATABASE_URL=mysql://user:pass@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/sellox?ssl={"rejectUnauthorized":true}
JWT_SECRET=change-this-to-a-random-string-at-least-32-characters
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
STORE_NAME=My Store
STORE_DESC=Premium digital goods, instant delivery
CURRENCY=USD
CURRENCY_SYMBOL=$
PORT=7860
